body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 88px 1fr 1fr 1fr 3fr 1fr;
}

.wrapper_navigation {
    grid-row: 1;
}

.wrapper_home {
    grid-row: 2;
}

.wrapper_about-me {
    grid-row: 3;
}

.wrapper_skills {
    grid-row: 4;
}

.wrapper_portfolio {
    grid-row: 5;
}

.wrapper_contacts {
    grid-row: 6;
}