body {
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-rows: 88px repeat(5, 1fr);
}

.navigation {
    grid-row: 1;
}

.home {
    grid-row: 2;
}

.about_me {
    grid-row: 3;
    background-color: #F6F6F6;
}

.skills {
    grid-row: 4;
}

.portfolio {
    grid-row: 5;
    background-color: #F6F6F6;
}

.contacts {
    grid-row: 6;
}