.home {
    background-color: #FFFFFF;
    width: 945px;
    margin: 0 auto;
    padding-bottom: 104px;
    padding-top: 128px;
}
@media  screen and (max-width: 980px) {
    .home {
        width: 317px;
        padding-bottom: 83px;
    }
}

.home__description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 54px;
}
@media  screen and (max-width: 980px){
    .home__description {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 37px;
    }
}

.home__name {
    font-size: 48px;
    font-weight: bold;

}

.home__position {
    font-size: 18px;
}
@media  screen and (max-width: 980px){
    .home__position {
        margin-top: 10px;
    }
}

.home__lang {
    writing-mode: tb-rl;

}
@media  screen and (max-width: 980px){
    .home__lang {
        display: none;
    }
}
.home__lang-item {
    font-size: 16px;
    font-weight: bold;
    color: #828282;
}

.home__lang-item:hover,
.home__lang-item:active,
.home__lang-item_active {
    color: #070707;
}
