.navigation {
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation__wrapper {
    background-color: #fff;
    height: 50px;
}

.navigation__list {
    width: 944px;
    margin: auto;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.navigation__list-item {
    float: left;
}

.navigation__list-item-link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #828282;
    text-decoration: none;
}

.navigation__list-item-link:hover {
    color: #000000;
    font-weight: bold;
}

.navigation__line {
    width: 944px;
    margin: auto;
    border-bottom: 1px solid #828282;
}