.portfolio {
    background-color: #F6F6F6;
}

.portfolio__title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 100px;
}

.portfolio__card {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 980px) {
    .portfolio {
        width: 317px;
        margin: 0 auto;
        padding: 50px;
    }

    .portfolio__title {
        padding-top: 0;
        padding-bottom: 50px;
    }

    .card__link {
        padding-bottom: 20px;
    }
}