.portfolio {
    background-color: #F6F6F6;
}

.portfolio__title {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    padding-top: 100px;
}

.portfolio__card {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}
