.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contacts__title {
    font-size: 36px;
    font-weight: bold;
    margin: 20px;
}

.contacts__article1 {
    font-size: 18px;
    margin: 20px;
}

.contacts__article2 {
    font-size: 14px;
    color: #828282;
    margin: 20px;
}